/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap'); */


@font-face {
	src: url('../fonts/OpenSans-Regular.ttf');
	font-family: 'OpenSans Regular';
}
@font-face {
	src: url('../fonts/OpenSans-Bold.ttf');
	font-family: 'OpenSans Bold';
}
@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf');
	font-family: 'OpenSans SemiBold';
}
@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf');
	font-family: 'OpenSans ExtraBold';
}
@font-face {
	src: url('../fonts/OpenSans-Italic.ttf');
	font-family: 'OpenSans Italic';
}
@font-face {
	src: url('../fonts/OpenSans-Light.ttf');
	font-family: 'OpenSans Light';
}
body {
    margin: 0;
}
header {
    background-color: rgb(224,224,224);     
}
.grey-padding {
    height: 14px;
    background-color: rgb(224,224,224);
}
.header {
    max-width: 1249px;
    min-height: 89px;
    margin: 0 auto;    
    background-color: rgb(0,0,0);        
}
.menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 30px;    
    margin-bottom: 0;
}
.menu > li {   
    padding: 0 30px 0;     
    display: flex;
    align-items: center;    
    list-style:none;       
    min-height: 89px;  
}
.menu > li:hover {
    background-color: rgb(255,63,64);    
}
.m-link {
    color: rgb(224,224,224);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;      
}
.grey-background {
    background-color: rgb(224,224,224);    
}
.intro {
    max-width: 1249px;
    margin: 0 auto;
    padding-top: 103px;
    padding-bottom: 110px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;     
}
.text-box {
    max-width: 50%;

}

.text-box  h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    margin: -14px 0 18px;
}
.text {   
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9953px;
    line-height: 28px;
    margin: 0 84px 75px 0;    
}  
.button {
    color: rgb(255,255,255);
    background-color: rgb(255,45,45);
    padding: 15px 63px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px; 
    width: 227px;    
    text-decoration: none;
}
.video-box {
    margin-left: 68px;
    width: 551px;
    height: 356px;
}
.portfolio {
    padding-top: 84px;
    padding-bottom: 81px;
    margin: 0 auto;
    max-width: 1249px;    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-lbox {
    max-width: 539px;
}
.portfolio-lbox  h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42.1902px;
    line-height: 55px;
    text-transform: uppercase;   
    margin: 14px 0 32px;
}
.portfolio-lbox p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 99px;
}
.bt-learn {
    color: #FF0000;    
    padding: 16px 63px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18.0412px;
    line-height: 25px;         
    text-decoration: none;
    border: 2px solid #FF0000;
    box-sizing: border-box;
}
.portfolio-rbox {
    max-width: 608px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-infobox {
    max-width: 288px;
}
.portfolio-infobox h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24.0692px;
    line-height: 0px;    
}
.portfolio-infobox p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.management::before {
    content: url(../img/Combined_shape_15719.svg);
    display: block;
    width: 41px;
    height: 41px;    
    margin-bottom: 43px;
}
.design::before {
    content: url(../img/Combined_shape_15722.svg);
    display: block;
    width: 41px;
    height: 41px;    
    margin-bottom: 43px;
}
.branding::before {
    content: url(../img/Combined_shape_15729.svg);
    display: block;
    width: 41px;
    height: 41px;    
    margin-bottom: 43px;
}
.animation::before {
    content: url(../img/Combined_shape_15734.svg);
    display: block;
    width: 41px;
    height: 41px;    
    margin-bottom: 43px;
}
.line1{
    width: 1249px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}
.feature {
    margin: 0 auto;
    max-width: 1249px;     
}
.feature-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}
.feature-products h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 41.9876px;
    text-transform: uppercase; 
    margin-bottom: 3px;
}
.feature-products p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9953px;
    line-height: 28px; 
    margin-top: 12px;
    margin-bottom: 19px;
    max-width: 537px;
    text-align: center 
}
.line2 {
    width: 130px;
    height: 2px;
    border: none;
    background-color: #ff2d2d;
}
.feature-menu{
    margin-top: 57px;
    margin-bottom: 25px;
}
.f-menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
.f-menu > li {   
    padding: 0 30px 0;     
    display: flex;
    align-items: center;    
    list-style:none;       
    min-height: 89px;  
}
.feature-menu a:hover {
    color:#FF2D2D;    
}
.f-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;      
}
.pics-box {
    display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pic {
    
	max-width: 296px;
	height: 290px;
    margin-bottom: 20px;
    
}
.team {    
    margin: 0 auto;
    max-width: 1249px;
}
.team-hbox h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42.1902px;
    text-transform: uppercase; 
    margin-top: 113px;  
    margin-bottom: 21px;
}
.team-hbox p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    max-width: 478px;
    font-size: 16px;
    line-height: 28px;
    margin: 0 2px 59px;
}
.line3 {
    width: 130px;
    height: 2px;
    border: none;
    margin: 3px;
    background-color: #ff2d2d;
}  
.team-box {
    margin-top: 70px;  
	display: flex;
	flex-wrap: wrap;
	min-height: 458px;
    justify-content: space-between;
}

.team-photo1 {
    max-width: 320px;
	height: 459px;
}
.tbox0 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.tbox1 h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30.127px;
    margin: 11px 0 0 21px;
}
.tbox1 p{
    max-width: 662px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9953px;
    line-height: 28px;
    margin: 18px 0 0 22px;
}
.tbox1-soc {
    max-width: 370px;
    display: flex;    
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: black;
    margin: 40px 0 0 22px;
}
.tbox1-soc a {
    text-decoration: none;
    color: black;
}
.tbox2 {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 5px;
}
.tbox2 img{
    margin: 20px 0 0 20px;
    max-width: 198px;
	height: 215px;
}

.subscribe {
    margin: auto;
    margin-top: 109px;
    max-width: 1579px;
    min-height: 511px;
    background-color: #2c2c2c;
}
.subscribe-h {
    padding-top: 149px;
}
.subscribe-h h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;  
    color: #ffffff;
    text-align: center;
    margin: 0;

}

.subscribe-h p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9953px;  
    color: #ffffff;
    text-align: center;
    margin: 17px 0 60px;
}
.subscribe-e {
    display: flex;
	align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.email {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #ffffff;
    font-size: 16px; 
    display: flex;
	align-items: center;	
	flex: 0 1 487px;
	max-width: 487px;
	min-height: 79px;
    padding-left: 38px;
    margin-right: 20px;
	
}
.e-button {
    color: #ffffff;
    background-color: #ff2d2e;        
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9026px;         
    text-decoration: none;
    text-transform: uppercase; 
    display: flex;
	align-items: center;	
	flex: 0 1 181px;
	max-width: 181px;
	min-height: 79px;
	padding-left: 35px; 
}
.touch {
    margin: auto;
    max-width: 1579px;
    
}
.touch-bx1 {
    margin-left: 165px;
}
.touch-bx1 h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px; 
    text-transform: uppercase;
    margin-top: 101px;
    margin-bottom: 32px;
}

.touch-bx1 p{
    max-width: 752px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9953px;
    line-height: 28px;
    margin: 0px 0 0 1px;
}
.line4 {
    width: 130px;
    height: 2px;
    border: none;
    margin: 52px 0 0 0;
    background-color: #ff2d2d;
    margin-left: 165px;
} 
.bigbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 76px;
    margin-left: 165px;
}

.midlbox {
    display: flex;
    flex-direction: column;
    min-width: 730px;
}    
.smallbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.smallbox p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    
    margin: 0;
    
}
.name {
    width: 337px;
	max-width: 337px;
	height: 69px;
    background-color: grey;
}
.name p {
    font-size: 18.0412px;
    padding: 26px 0px 0px 54px;

}
.y-mail {
    width: 337px;
	max-width: 337px;
	height: 69px;
    background-color: grey;
}
.y-mail p {
    font-size: 15.9134px;
    padding: 27px 0px 0px 47px;
}
.mesage {
    min-width: 730px;
    height: 250px;
    background-color: grey;
    margin-top: 45px;
}
.mesage p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9134px;
    padding: 18px 0px 0px 51px;
}
.button-send {
    min-width: 730px;
    height: 72px;
    background-color: #FF3B3B;
    margin-top: 45px;
    display: flex;
	align-items: center;
	justify-content: center;
}
.button-send a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9026px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.co-info {
    min-width: 576px;
    min-height: 481px;
    background-color: #2D2D2D;
    color: #ffffff;
}
.co-info h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9026px;
    text-transform: uppercase;
    padding: 124px 0px 0px 79px;
}
.co-info p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding: 9px 0px 0px 79px;
}
footer {
    margin: auto;
    margin-top: 110px;
    max-width: 1579px;
    background-color: #313030;
    min-height: 111px;    
}
.footer-co {
    margin-left: 164px;
    max-width: 1249px;    
    display: flex;
	align-items: center;
	justify-content: space-between;    
}
.footer-co p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #B8B8B8;
    padding: 41px 0px 0px 3px;
}
.footer-soc {
    margin-top: 40px;
}
.footer-soc a {
    padding-left: 14px;
}