@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

body {
    margin: 0;
    background-color: rgb(224,224,224);  
    padding-top: 13px;  
}

.header {
    max-width: 1249px;
    min-height: 89px;
    margin: 0 auto;    
    background-color: rgb(0,0,0);        
}

.menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.menu > li {    
    padding: 0 30px 0; 
    display: flex;
    align-items: center;    
    list-style:none;       
    min-height: 89px;  
}

.menu > li:hover {
    background-color: rgb(255,63,64);    
}

.m-link {
    color: rgb(224,224,224);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none; 
     
}

.intro {
    max-width: 1249px;
    margin: 0 auto;
    padding-top: 88px;
    padding-bottom: 110px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-box {
    max-width: 50%;
    

}

.text-box  h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0,0,0);
    margin: -20px 0 7px;
}

.text {   
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px; 
    color: rgb(0,0,0);
    margin: 0 84px 87px 0;    
}  

.button {
    color: rgb(255,255,255);
    background-color: rgb(255,45,45);
    padding: 15px 63px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px; 
    width: 227px;    
    text-decoration: none;
}

.video-box {
    margin-left: 68px;
    width: 551px;
    height: 356px;
}

.portfolio {
    padding-top: 115px;
    padding-bottom: 105px;
    margin: 0 auto;
    max-width: 1249px;
    background-color: rgb(255,255,255); 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-lbox {
    max-width: 50%;
}

.portfolio-lbox  h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    color: rgb(0,0,0);
    margin: -20px 0 7px;
}
.portfolio-rbox {
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-infobox {
    max-width: 288px;

}